<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Post List</title>
</head>
<body>

    <a th:href="@{/post}">글쓰기</a>

    <form action="/list" method="get">
        <input type="hidden" name="keyword" th:value="${keyword}"/>
        <select name="type" onchange="this.form.submit()">
            <option value="" disabled selected>정렬 순서</option>
            <option value="date">최근 날짜순</option>
            <option value="like">추천 순서</option>
        </select>
    </form>
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>글 제목</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="board : ${boardList}">
            <td>
                <span th:text="${board.id}"></span>
            </td>
            <td>
                <a th:href="@{'/post/' + ${board.id}}">
                    <span th:text="${board.title}"></span>
                </a>
            </td>
            <td>
                <span th:text="${board.writer}"></span>
            </td>
            <td>
                <span th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
    <span th:each="pageNum : ${pageList}" th:inline="text">
        <a th:href="@{'/list?page=' + ${pageNum} + '&keyword=' + ${keyword}}">[[${pageNum}]]</a>
    </span>
    </div>

    <!-- 검색 form -->
    <form action="/list" method="GET">
        <select name="search_type">
            <option value="both" selected>제목 + 내용</option>
            <option value="title">제목</option>
            <option value="content">내용</option>
        </select>
        <div>
            <input name="keyword" type="text" placeholder="검색어를 입력해주세요">
        </div>

        <button>검색하기</button>
    </form>

</body>
</html>